.footerTodo {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(176, 176, 192);
    width: 579px;
    margin-left: calc((100% - 575px) * 0.5);
    justify-content: center;
  background: linear-gradient(180deg, #9ba4bd42, #989eac80);
  outline:none;
  color: #43455c;
  height: 30px;
}
.footerTodo p {
    margin: auto 20px;
}
ul {
    display: flex;
    flex-direction: row;
    margin: auto 0;
}
li {
    margin: 0 10px;
    list-style-type: none;
   
}
a {
    text-decoration:none;
}
